.dataTable {
    padding: 20px;

    .gridToolbar {
        height: 50px;
        display: flex;
        justify-content: space-between;

        .left {
            flex: left;
            .btnDeleteSelected {
                color: rgb(242, 33, 33);
                background-color: #f6efef;

                &:hover {
                    background-color: rgb(219, 209, 209);
                    color: rgb(252, 5, 5);
                }
            }
        }

        .right {
            display: flex;
            flex: right;
            .quickFilter {
                padding-right: 20px;
            }
        }
    }

    .dataGrid {
        padding: 20px;
        background-color: white;

        // .MuiDataGrid-toolbarContainer {
        //     flex-direction: row-reverse;
        // }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .action {
            display: flex;
            gap: 15px;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}
